//Subsidios
$primary-color: #EE2B7B;
$secondary-color:#E0F2F2;
$btn-color-text:#fff;
$bg-color-hover-btn:#ce6e9edc;

//Beneficios
$text-dark: #000000;
// categorias afiliacion
$secondary-colorCat:#2B2B2B; 
