
.btnCircle{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 99px;
    border: solid 0.5px black;
    background-color: transparent;
    gap: 1;

    &--inactive{
        opacity: 0.3;
      }   
}
