@import'../variables';
.button{
    padding: 10px 10px;
    width: 47%;
    background-color:$primary-color;
    color: $btn-color-text;
    border: 1px solid $primary-color;
    cursor: pointer;
    margin:0 2px;
    &:hover{
        background-color: $bg-color-hover-btn;
    }
    &--outline{
        background-color:$secondary-color ;
        color: $primary-color;
    } 
}  