.section{
    margin: 0 auto;
    padding: 0 10rem;
    position: relative;
    @media (max-width:767px) {
        margin: 0 auto;
        padding: 0;
    }
    @media (max-width:991px) {
        margin: 0 auto;
        padding: 0;
    }
}
